title = "Internal repository"
url = "/internal-repository/:slug?|[a-zA-Z\-0-9]"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[session]
security = "all"
allowedUserGroups[] = "internal-users"

[filesform]
==
<?php
use Pensoft\Internaldocuments\Models\Subfolders;
	use System\Models\File;
	use RainLab\User\Models\UserGroup;


	public function onStart(){
		if($this->user && $this->user->inGroup( UserGroup::getInternalUsersGroup() )){
			$this['userCanEdit'] = $this->user->inGroup( UserGroup::getCanEditUsersGroup() ); // true
		}else{
			return Redirect::to('/');
		}
		if($this->param('slug')){
			$this['folder'] = Subfolders::select('pensoft_internaldocuments_subfolders.*')
										->where('slug', ''.$this->param('slug').'')
										->first();
		}else{
			$this['folders'] = Subfolders::where('pensoft_internaldocuments_subfolders.parent_id', null)->get();
		}

	}


	public function onDownloadHandler(){
		$files = post('files');
		return Redirect::to('trigger-download')->with('files', $files); // pass attributes in the session
	}

	public function onDeleteFile(){
		$fileId = post('id');
		$file = File::find($fileId);
		if($file)
			$file->delete();
		return ['#delete_result_'.$fileId => ''];
	}

	public function onDeleteFolder(){
		$folderId = post('id');
		$folder = Subfolders::find($folderId);
		if($folder){
			$folder->delete();
		}
		return ['#delete_result_'.$folderId => ''];
	}
?>
==
{% component 'session' %}
<div class="container">
	{% if user %}
	<div class="row middle-xs between-xs">
		{% partial 'components/search-documents-search-form' folder=folder %}
		<div class="col-xs-12">
			<h3 style="font-size: 27px;">{{ folder.name }}</h3>
			{% if folder.getParentsAndSelf.count %}
			<p><a data-toggle="modal" href="#contentBasicFolder{{ folder.id }}"><span class="circled_plus"></span> Create folder</a></p>
				{% partial 'components/popup-folders-form' subfolder=folder %}
			{% endif %}

			{% if folder.getChildren.count %}
			<div id="accordion-documents" class="text-left relative ui-accordion ui-widget ui-helper-reset" role="tablist">
				<div id="sortableFolders{{folder.id}}">
					{% for subfolder in folder.getChildren %}
						<div id="delete_result_{{subfolder.id}}">
							<div style="padding-bottom: 20px">
								<h3 class="accordion-toggle folder row" style="margin-bottom: 0;">
									<div class="col-xs-11" id="tipContainer{{subfolder.id}}"><span class="drag-handle">&nbsp;</span>
										<div id="folderName-{{ subfolder.id }}">{% partial 'components/folder_name' folder_name=subfolder.name %}</div>
									</div>

									<div class="col-xs-1 end-xs plusminus"><span class="plus"></span></div>
									{% if userCanEdit %}
										{% partial 'components/popup-edit-folder_name-form' subfolder=subfolder %}
										<script>
											initRightclickRenameFolderTippy('{{subfolder.id}}');
										</script>
									{% endif %}
								</h3>
								<div class="accordion-content folders" style="display: none;">
									<div id="partialInternalDocuments">
										{% partial 'components/internal_documents' subfolder=subfolder userCanEdit=userCanEdit %}
									</div>
								</div>
							</div>
						</div>
					{% endfor %}

				</div>
				<script>
					initSort('sortableFolders{{folder.id}}', '{{folder.id}}', 'folders');
				</script>
				<script>
					$(document).ready(function () {
						initAccordeon('accordion-documents');
					});
				</script>

			</div>
			{% endif %}
		</div>


		{% if folders.count %}
		<div class="card-container">
			<div class="cards">
				{% for record in folders %}
					<div class="card profile no-border" style="margin-bottom: 15px">
						<a style="display:flex; background: #1a272d url({{ record.cover.thumb(100,200,{'mode':'crop'}) }}) center center no-repeat; background-size: 100px; height: 200px" href="{{url('internal-repository')}}/{{ record.slug }}" title="{{ record.name }}"></a>
						<h3 class="card-header" style="font-size: 1em;"><a href="{{url('internal-repository')}}/{{ record.slug }}" title="{{ record.name }}" style="color: #fff;">{{ record.name }}</a></h3>
					</div>
				{% endfor %}

			</div>
		</div>
		{% endif %}

	</div>
	{% endif %}
</div>