title = "Viral eco-evolutionary dynamics of wild and domestic pollinators under global change"
url = "/"
layout = "default"
meta_description = "homepage desc"
is_hidden = 0
seo_keywords = "keywords"
robot_index = "index"
robot_follow = "follow"

[article_highlights]
maxItems = 10
title = "Latest from the project"

[Timeline]
limit = 5

[homepage_intro]

[publications_list]
==
{% component 'homepage_intro' %}


<!-- latest from news -->
{% component 'article_highlights' %}
<div class="container">
    <!-- subscribes -->
    <div class="row">
        <div class="col-sm-8 col-xs-12">
			<div class="row">
				<div class="col-xs">
					{% component 'publications_list' %}
				</div>
			</div>
			<div class="row middle-xs">
				<div class="col-sm-8 col-xs-12">
					<div class="subscribe-items d-flex justify-content-evenly flex-column">
						<div class="row">
							<div class="col-xs">
								{%if this.theme.subscribe%}
								<a href="{{this.theme.subscribe}}" target="_blank" class="btn btn-secondary fluid" style="white-space: nowrap; margin: 10px 0;">Subscribe</a>
								{%endif%}
							</div>
							<div class="col-xs">
								{%if this.theme.feedback%}
								<a href="mailto:{{this.theme.feedback}}" class="btn btn-secondary btn-yellow fluid" style="white-space: nowrap; margin: 10px 0;">Feedback</a>
								{%endif%}
							</div>
						</div>

						<!--<a href="/calendar" class="btn btn-primary fluid">Calendar</a>-->

					</div>
				</div>
				<div class="col-sm-3 col-xs-12">
					<div class="subscribe-container">

						<div class="subscribe-items text-center d-flex justify-content-evenly">
							{% if this.theme.twitter %}
							<a href="{{this.theme.twitter_url}}" class="btn p-primary pr p-twitter big"></a>
							{% endif %}
							{% if this.theme.facebook %}
							<a href="{{this.theme.facebook_url}}" class="btn pr p-primary p-facebook big"></a>
							{% endif %}
							{% if this.theme.linkedin %}
							<a href="{{this.theme.linkedin_url}}" class="btn pr p-primary p-linkedin big"></a>
							{% endif %}
							{% if this.theme.youtube %}
							<a href="{{this.theme.youtube_url}}" class="btn pr p-primary p-youtube big"></a>
							{% endif %}
						</div>
					</div>
				</div>
			</div>


            
        </div>
		<div class="col-sm-4 col-xs-12">
			<div class="twitter-widget">
				<a class="twitter-timeline" href="https://twitter.com/MAIA_EU_Project?ref_src=twsrc%5Etfw">Tweets by MAIA_EU_Project</a>
				<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
		</div>
    </div>
</div>