
<div class="card profile no-border no-background">
    <a style="display:flex" href="profile/{{url}}" title="{{fullname}}">
        <img class="card-img-top" src="{% if avatar %}{{avatar}}{% else %}{{'assets/images/profile.png'|theme}}{% endif %}" alt="{{fullname}}" />
    </a>
    <h3 class="card-header">{{fullname}}</h3>
    <div class="card-body text-center">
        
        <div class="country text-bold">{{country}}</div>
        <div class="position">{{position}}</div>

        {% if content %}
            <p>{{content|raw}}</p>
        {% endif %}
    </div>
</div>