<div class="col-xs-12 col-md-4 mt-1 mb-1">
	<div id="search" class="search">
		<form class="input-group align-items-start" action="{{ url('documents-search')}}" method="get">
			<label class="text-grey" style="white-space: nowrap; margin-right: 10px; margin-top: 15px;">Search in Library</label>
			<input class="form-control documents_search text-grey" style="color: #000;" name="q" type="text" autocomplete="on">
			<button class="btn search btn-link pr p-search1 big text-grey" style="margin-top:0; width:auto; padding-left:1rem; padding-right:1rem;" type="submit"></button>
		</form>
	</div>
</div>

<div class="col-xs-12 col-md-2 end-xs">
	{% if folder.nest_depth == 0 and folders.count == 0 %}
	<a href="{{url('internal-repository')}}" class="back"> <div class="arrow-left end-xs"></div> &nbsp;Back to documents</a>
	{% endif %}
</div>

